{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Path</th>
        <th>Time Created</th>
      </tr>
    </thead>
    <tbody>
      {% for dir in dirs %}
        <tr>
          <td>{{ dir.id }}</td>
          <td>{{ dir.path }}</td>
          <td>{{ dir.time_created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}